@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keine custom Grid-Klassen mehr nötig.
   Wir nutzen native Tailwind-Klassen für das Layout.
*/
body {
  @apply bg-gray-900; /* Fallback background */
}